.course-list {
    list-style-type: none;
    // margin: 0 auto;
    max-height: 600px;
    // width: 1102px;
    width: 100%;
    overflow: auto;

    .course-item {
        cursor: pointer;
        padding-bottom: 16px;
    }

    .course-item:hover {
        color: #c677fc;
    }
}
