.container {

    .heading {
        margin-top: 40px;
        margin-bottom: 30px;
    }

    .listInterestedTopic {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 0.8rem;

        .interestedTopic {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            min-height: 4.5rem;
            padding: 0.8rem 1.6rem;
            background: rgba(240, 235, 235, 0.3);
            box-shadow: 0 1rem 1rem hsl(0 0% 0% / 10%);
            backdrop-filter: blur(21px);
            border-radius: 8px;
            word-break: break-word;
        }

        .interestedTopic:hover {
            box-shadow: 0 1rem 1rem hsl(0 0% 0% / 20%);
            cursor: pointer;
        }
    }
}
