.headlessTippy {
    max-height: 900px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    color: #8c8c8c;
    margin-bottom: 16px;

    .searchLabel {
        margin: 16px 0px 8px 0px;
        color: rgba(38, 38, 38, 1);
        font-weight: 600;
    }

    .searchDiv {
        display: flex;
        flex-direction: row;
        height: 48px;
        border: 2px solid #8c8c8c;
        border-radius: 6px;
        opacity: 0.6;
        align-items: center;

        .searchIcon {
            padding-left: 8px;
            padding-right: 4px;
        }

        .searchInput {
            font-size: 16px;
            font-weight: 600;
            margin-top: 4px;
            border-radius: 6px;
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
            border-right: 0px;
            background-color: transparent;
            flex: 1;
            width: 100%;
            border: none;
        }

        .dropDownButton {
            cursor: pointer;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
            border-left: 0px;
            border: none;
            background-color: transparent;

            .dropDownImg {
                height: 10px;
            }
        }
    }
}

// .wrapper,
.search-result {
    width: 1136px;
}

.popper-result {
    height: fit-content;
}
