.wrapper {
    display: flex;
    background-image: url('../../assets/images/forgot-background-2.png');
    background-color: #c677fc;
    width: 100vw;
    height: 100vh;

    .forgot-form-container {
        display: flex;
        position: relative;
        flex-direction: column;
        margin: 0 auto;
        margin-top: 80px;

        background-color: white;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;

        .isHidden {
            display: none;
        }

        .forgot-form {
            width: 800px;
            margin: 34px 46px 0px;

            .form-header {
                display: flex;
                flex-direction: column;
                align-items: center;
                color: #a56bff;

                h1 {
                    font-size: 36px;
                    font-weight: 800;
                }

                p {
                    font-size: 36px;
                    font-weight: 400;
                    margin-top: -16px;
                }
            }

            .password-fill-form {
                display: flex;
                flex-direction: column;

                div {
                    display: flex;
                    flex-flow: column;
                    justify-self: flex-start;
                    width: 100%;

                    label {
                        color: #8c8c8c;
                        margin: 16px 0px 6px 0px;
                    }
                }

                .form-message {
                    display: block;
                    margin-bottom: 8px;
                    color: red;
                }

                .passwordInput {
                    display: flex;
                    flex-direction: row;
                    height: 37px;
                    border: 2px solid #8c8c8c;
                    border-radius: 6px;
                    opacity: 0.6;

                    .passwordEnter {
                        border-top-left-radius: 6px;
                        border-bottom-left-radius: 6px;
                        border-right: 0px;

                        flex: 1;
                        width: 100%;
                        padding: 10px;
                        border: none;
                    }

                    .showButton {
                        cursor: pointer;
                        border-top-right-radius: 6px;
                        border-bottom-right-radius: 6px;
                        border-left: 0px;
                        border: none;
                        background-color: #ffffff;
                    }
                }

                .confirmButton {
                    width: 100%;
                    cursor: pointer;
                    background-color: #c677fc;
                    border: none;
                    border-radius: 10px;
                    padding: 10px;
                    margin-top: 28px;
                    font-size: 20px;
                    font-weight: 500;
                    color: white;
                    text-decoration: none;

                    &:hover {
                        opacity: 0.8;
                    }
                }
            }

            .member-yet {
                display: flex;
                flex-direction: row;
                color: #8c8c8c;
                font-size: 20px;

                .signInUp-btn {
                    margin-left: 8px;

                    .login-link {
                        text-decoration: none;
                        color: #c677fc;
                    }

                    .signUp-link {
                        text-decoration: none;
                        color: #ff8f8f;
                    }
                }
            }
        }
    }

    .success-wrapper {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        color: #ffffff;
        font-size: 36px;
        text-align: center;

        .container {
            display: flex;
            flex-direction: column;
            background-color: #c677fc;
            align-items: center;

            .reviewer-info {
                display: flex;
                flex-direction: row;
                margin-top: -10px;

                .avatar {
                    width: 80px;
                    height: 90px;
                    border-radius: 8px;
                    object-fit: cover;
                    margin-top: 14px;
                }

                .user-info {
                    // display: flex;
                    // flex-direction: column;
                    margin-left: 8px;
                    margin-top: -20px;

                    .name {
                        font-weight: 800;
                        font-size: 36px;
                    }

                    .role {
                        margin-top: -16px;
                        font-size: 20px;
                        font-weight: 700;
                        margin-left: -16px;
                    }
                }
            }
        }
    }

    .login-direct {
        text-decoration: none;
        color: #010101;
        font-weight: 600;
    }
}

*:focus {
    outline: none;
}
