.wrapper {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    margin-left: 16px;
    padding-right: 24px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    padding-left: 40px;

    .topTitle {
        display: flex;
        padding-top: 16px;
        padding-bottom: 16px;

        .courseTitle {
            margin-right: 16px;
            font-size: 24px;
            font-weight: 700;
        }

        .lessonTitle {
            margin-left: 16px;
            font-size: 24px;
            font-weight: 700;
        }

        .icon {
            font-size: 20px;
            margin-top: 8px;
        }
    }

    .lessonBody {
        background-color: rgba(255, 255, 255, 0.5);
        margin-left: -10px;
        padding-top: 8px;
        padding-left: 8px;
        // border-top-left-radius: 8px;
        // border-bottom-left-radius: 8px;
        border-radius: 8px;

        .lessonTitleDetail {
            font-size: 20px;
            color: rgba(38, 38, 38, 1);
            font-weight: 700;
        }

        .lessonDesc {
            font-weight: 500;
            font-size: 16px;
            margin-bottom: 16px;
        }

        .unitsBody {
            background-color: rgba(255, 255, 255, 0.5);
            padding-top: 12px;
            border-radius: 8px;

            .unitsTopBody {
                display: flex;
                justify-content: space-between;
                margin-left: 8px;
                margin-bottom: 24px;

                .unitsTitle {
                    font-size: 20px;
                    font-weight: 600;
                }

                .unitsBtns {
                    margin-top: 3px;
                    .unitsBtn {
                        border: transparent;
                        text-decoration: none;
                        border-radius: 4px;
                        background-color: rgba(198, 119, 252, 1);
                        color: rgba(255, 255, 255, 1);
                        padding: 8px 12px;
                        margin-right: 12px;

                        &:hover {
                            opacity: 0.7;
                        }
                    }
                }
            }
        }
    }
}

.listTitle {
    font-size: 16px;
    font-weight: 600;
    margin-left: 8px;
}

.listWrapper {
    // height: 100%;
    overflow-y: scroll;
    max-height: 250px;

    .itemDiv {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        // margin-top: -14px;

        &:hover {
            opacity: 0.7;
        }

        .itemTitle {
            transform: translateY(25%);
        }

        .itemAction {
            display: flex;
            align-items: center;

            .btnAction {
                cursor: pointer;
                margin-right: 16px;
                color: rgba(140, 140, 140, 1);
                margin-top: 0;

                &:hover {
                    opacity: 0.7;
                }
            }

            .itemOrder {
                padding: 8px;
                border: 1px solid;
                border-radius: 4px;
                font-size: 16px;
            }

            .moveBtnContainer {
                display: flex;
                flex-direction: column;
                margin-top: 4px;

                .moveBtn {
                    // margin-top: -8px;
                    border: transparent;
                    background-color: transparent;

                    .fontIcon {
                        &:hover {
                            opacity: 0.5;
                        }
                    }
                }
            }
        }
    }
}
